@charset 'UTF-8';

@import '../../settings.pcss';

.m-line-card-checkbox {
    .ohaco-a-label__form {
        padding-right: 8px;
    }
    &__label {
        height: 89px;
        display: flex;
        align-items: center;
        &__content {
            display: flex;
            align-items: center;
        }
    }
    &__text {
        padding-left: 18px;
        font-size: .938em;
        font-weight: var(--font-weight-bold);
    }
}