@charset 'UTF-8';

@import '../../settings.pcss';

.t-wrapper {
    padding-bottom: 70px;
    &__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 800;
    }
}
