@charset 'UTF-8';

/* =コア設定
------------------------------ */

:root {
    /* font-size */

    /* font-weight */

    /* button size */

    /* content width */

    /* z-depth */
}

.t-wrapper {
    padding-bottom: 70px;
}

.t-wrapper__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 800;
    }
